*{
    margin: 0px;
    padding: 0px;
}
#tophead{
    width: 100%;
    height: 60px;
    display:flex;
    justify-content: space-between;
    background-color: rgb(232, 232, 246);
    align-items: center;
    font: weight 0;
}
#tophead .right{
    display: flex;
    padding: 40px;
    font-size: 20px;
    color: rgb(141, 139, 139);

}
#tophead .left{
    display: flex;
    gap: 20px;
    padding: 40px;
    font-size: 20px;
    color: rgb(141, 139, 139);
}
#tophead .left div i{
    gap: 10px;
    color: blue;
}
#tophead .right div i{
    gap: 10px;
    color: blue;
    font-size: 20px;
}
/* ===========================================tophead ends here============================================ */

/* ======================================navbar begins from here========================================= */
#navbar{
    width: 100%;
    height:75px ;
    background-color: white;
    display: flex;
}
#navbar nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    height: 75px;

}
#navbar img{
    width: 150px;
    height: 50px;
    border-radius: 50%;
}
#navbar nav ul{
    display: flex;
    gap: 50px;
    list-style: none;
    padding-top: 25px;
}
#navbar nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.nav-links{
    display: flex;
    gap: 30px;
}
.nav-links button{
    background-color: rgb(39, 39, 246);
    width: 200px;
    height: 75px;
    font-size: 16px;
    color: white;
    border: none;   
}
.nav-links li:hover a{
    color: rgb(34, 34, 241) !important; 
}

/* ======================================navbar ends here========================================  */

/*================================== home page start from here========================================== */
#homepage{
    width: 100%;
    height: auto;
    display: flex;
}
#homepage .box{
    width: 50%;
    height: 100vh;
    background-color: rgb(26, 26, 245);
    border: 1px solid blue;
}  
#homepage .box .container{
    width: 100%;
    font-size: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 30%;
}
#homepage .box .doctors{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 85px;
    font-size: 20px;
    color: white;
    padding-top: 35px;
}
#homepage .box .doctors .first{
    border-left: 1px solid white;
    padding-left: 25px;
   
}
#homepage .box .doctors .second{
    border-left: 1px solid white;
    padding-left: 25px;
   
}
#homepage .box .doctors .third{
    border-left: 1px solid white;
    padding-left: 25px;
   
}
#homepage .box .doctors .first{
    border-left: 1px solid white;
    padding-left: 25px;
}
#homepage .image{
    width: 50%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
#homepage .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#homepage .image h1 {
    position: absolute;
    font-size: 75px;
    color: white;
    top: 50%;
    text-shadow: 2px 2px 4px rgb(94, 93, 93);
}
/* ========================================homnpage ends here====================================================== */
/* ======================================about section starts from here========================================== */
#about{
    width: 100%;
    height: 100vh;
    display: flex;
    padding-top: 75px;
}
#about .leftside{
    width: 50%;
    height: 100vh;
    display: flex;
}
#about .leftside .first1{
    width: 30%;
    padding: 20px;
    background-color: white;
}
#about .leftside .second2{
    width: 70%;
    padding: 20px;
    background-color: white;
}
.first1 img{
    width: 100%;
    height: auto;
}
.second2 img{
    width: 100%;
    height: auto;
}
#about .rightside{
    width: 50%;
    height: 100%;
    padding-left: 50px;
}
#about .rightside .button{
    border: 1px solid gray;
    width: 120px;
    height: 35px;
    border-radius: 30px;
    text-align: center;
    align-items: center;
    background-color: white;
    font-size: 18px;
    color: rgb(197, 192, 192);   
}
#about .rightside h1{
    font-size: 45px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#about .rightside p{
    padding: 10px;
    padding-bottom: 10px;
}
#about .rightside p i{
    color: rgb(59, 59, 249);
}
#about .rightside .read{
    width: 150px;
    height: 50px;
    background-color: rgb(65, 65, 238);
    border-radius: 30px;
    color: white;
    text-align: center;
    align-items: center;
    border: none;
}
/* ========================================================about ends here=================================================== */

#services{
    width: 100%;
    height:auto;
}
#services .upper{
    text-align: center;
}
#services .upper button{
    width: 100px;
    height: 30px;
    border-radius: 20px;
    border: 1px solid rgb(149, 149, 242);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: rgba(141, 138, 138, 0.807);
}
#services .upper h1{
    
}
.boxex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 50px;
    padding: 60px;
} 
.bx {
background-color: #eef5ff;
border-radius: 10px;
border: 1px solid black;
padding: 30px;
padding-top: 40px;
width: 250px;
height: 260px;
display: flex;
flex-direction: column;
font-family: Arial, Helvetica, sans-serif;
}

 .bx i {
font-size: 40px;
color: #007bff;
margin-bottom: 20px;
} 
.bx h1 {
font-size: 1.5rem;
margin-bottom: 10px;
}

.bx p {
font-size: 1rem;
color: #666;
margin-top: 10px;
}


