*{
    margin: 0px;
    padding: 0px;
}
#tophead{
    width: 100%;
    height: 10vh;
    display:flex;
    justify-content: space-between;
    background-color: rgb(232, 232, 246);
    align-items: center;
    font: weight 0;
    transition: transform 0.3s ease-out;

}
.tophead-hidden {
    transform: translateY(-100%);
}
#tophead .right{
    display: flex;
    flex-wrap: wrap;
    padding: 3vw;
    font-size: 20px;
    color: rgb(141, 139, 139);

}
#tophead .left{
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    padding: 3vw;
    font-size: 20px;
    color: rgb(141, 139, 139);
}
#tophead .left div i{
    gap: 2vw;
    color: #0463fa;
}
#tophead .right div i{
    gap: 2vw;
    color: #0463fa;
    font-size: 20px;
}
/* ===========================================tophead ends here============================================ */

/* ======================================navbar begins from here========================================= */
#navbar{
    width: 100%;
    height: 11vh ;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    top: 10vh;
    left: 0;
    z-index: 1000;
    transition: top 0.3s ease-out;
}
#navbar nav{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    height: 6vh;

}
#navbar .klinik h1{
    font-size: 45px;
    color:#0463fa;
    font-weight: bold;
}
#navbar .klinik h1 i{
    /* width: 3vw; */
    /* height: 10vh; */
    font-size: 50px;
    padding-left: 1vw;
    color:#0463fa;
    /* gap: 2vw; */
    word-spacing: 4vw;
    padding-right: 1vw;
}
#navbar nav ul{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    list-style: none;
    padding-top: 2vw;
}
#navbar nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.nav-links{
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
}
.nav-links button{
    background-color: #0463fa;
    width: 12vw;
    height: 11vh;
    font-size: 16px;
    color: white;
    border: none;   
}
.nav-links li:hover a{
    color: #0463fa !important; 
}

/* ======================================navbar ends here========================================  */

/*================================== home page start from here========================================== */
#homepage{
    width: 100%;
    height: auto;
    display: flex;
    /* flex-wrap: wrap; */
}
#homepage .box{
    width: 50%;
    height: 100vh;
    background-color: rgb(26, 26, 245);
    border: 1px solid blue;
}  
#homepage .box .container{
    width: 100%;
    font-size: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 30%;
}
#homepage .box .doctors{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 85px;
    font-size: 20px;
    color: white;
    padding-top: 35px;
}
#homepage .box .doctors .first{
    border-left: 1px solid white;
    padding-left: 2vw;
   
}
#homepage .box .doctors .second{
    border-left: 1px solid white;
    padding-left: 2vw;
   
}
#homepage .box .doctors .third{
    border-left: 1px solid white;
    padding-left: 2vw;
   
}
#homepage .box .doctors .first{
    border-left: 1px solid white;
    padding-left: 2vw;
}
#homepage .image{
    width: 50%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
#homepage .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#homepage .image h1 {
    position: absolute;
    font-size: 75px;
    color: white;
    top: 50%;
    text-shadow: 2px 2px 4px rgb(94, 93, 93);
}
/* ========================================homnpage ends here====================================================== */
/* ======================================about section starts from here========================================== */
#about{
    width: 100%;
    height: 100vh;
    display: flex;
    padding-top: 75px;
}
#about .leftside{
    width: 50%;
    height: 100vh;
    display: flex;
}
#about .leftside .first1{
    width: 15vw;
    height: 20vh ;
    padding: 2vw;
    background-color: white;
    border-radius: 10px;
    position: absolute; 
    /* overflow: hidden; */
    object-fit: cover;
    top: 165vh;
    left: 10vw;
}
#about .leftside .second2{
    width: 30vw;
    height: 70vh;
    padding: 2vw;
    background-color: white;
    overflow: hidden;
    position: relative;
    /* object-fit: cover; */
    left: 15vw;

}
.first1 img{
    width: 100%;
    height: auto;
}
.second2 img{
    width: 100%;
    height: auto;
}
#about .rightside{
    width: 50%;
    height: 100%;
    padding-left: 5vw;
}
#about .rightside .button{
    border: 1px solid gray;
    width: 8vw;
    height: 5vh;
    border-radius: 30px;
    text-align: center;
    align-items: center;
    background-color: white;
    font-size: 18px;
    color: rgb(197, 192, 192); 
    margin-top: 2vw;  
}
#about .rightside h1{
    font-size: 45px;
    padding-top: 2vw;
    padding-bottom: 2vw;
}
#about .rightside p{
    padding: 10px;
    padding-bottom: 1vw;
}
#about .rightside p i{
    color: rgb(59, 59, 249);
}
#about .rightside .read{
    width: 10vw;
    height: 7vh;
    background-color: rgb(65, 65, 238);
    border-radius: 30px;
    color: white;
    text-align: center;
    align-items: center;
    border: none;
}
/* ========================================================about ends here=================================================== */

#services{
    width: 100%;
    height:auto;
}
#services .upper{
    text-align: center;
}
#services .upper button{
    width: 8vw;
    height: 5vh;
    border-radius: 20px;
    border: 1px solid rgb(149, 149, 242);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: rgba(141, 138, 138, 0.807);
    background-color: white;
}
#services .upper h1{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 2vw;

}
.boxex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2vw;
    margin: 5vw;
    padding-top: 1vh !important;
    padding: 4vw;
   
} 
.bx {
background-color: #dde7f5;
border-radius: 10px;
/* box-shadow: 1px 1px 30px 1px rgb(85, 84, 84); */
/* border: 1px solid black; */
padding: 2vw;
padding-top: 3vw;
width: 15vw;
height: 15vw;
display: flex;
flex-wrap: wrap;
flex-direction: column;
font-family: Arial, Helvetica, sans-serif;

}
.bx:hover{
    transform: scale(1.1);
    transition: 1s ease-out;

}

 .bx i {
font-size: 40px;
color: #0463fa;
margin-bottom: 1vw;
} 
.bx h1 {
font-size: 1.5rem;
margin-bottom: 1vh;
}

.bx p {
font-size: 1rem;
color: #666;
margin-top: 1vh;
}
#services .boxex .bx .read-more {
    position: relative;
    overflow: hidden;
    width: 2vw;
    height: 4vh;
    margin-top: 1vw;
    transition: all 0.3s ease;
}

#services .boxex .bx .read-more .more {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

#services .boxex .bx .read-more .plus {
    font-size: 30px;
    color: #0463fa;
    transition: all 0.3s ease;
}

#services .boxex .bx .read-more .text {
    font-size: 16px;
    color: #0463fa;
    white-space: nowrap;
    position: absolute;
    left: 2vw;
    opacity: 0;
    transition: all 0.3s ease;
}

#services .boxex .bx .read-more:hover {
    width: 8vw;
    border-radius: 10px 15px 15px 10px;
    background-color: #f8f9fa;
    border: 1px solid #0463fa;
}

#services .boxex .bx .read-more:hover .text {
    opacity: 1;
    left: 2vw;
}

#services .boxex .bx .read-more .btn {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}


  /* ================================services end===========================================  */
 #features{
    width: 100%;
    height: 100vh !important;
    display: flex;
 }
 #features .left-part{
    width: 40% !important;
    height: 80%;
    border: 1px solid black;
    background-color:#0463fa;
    flex-wrap: wrap;
    padding: 4vw;
    padding-left: 8vw;
 }
 #features .right-part{
    width: 50% !important;
    height: 82.8%;

 }
#features .left-part .feat{
    width: 10vw;
    height: 5vh;
    border-radius: 18px;
    background-color:#0463fa;
    border: 1px solid white;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    font-size: 16px;
    color: white;
}
.right-part img{
    width: 100%;
    height: 118%;

}
#features .left-part h1{
    color: white;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 3vh;
    padding-bottom: 3vh;
}
#features .left-part p{
    color: white;
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 4vh;
    font-weight: 200;
}
#features .left-part .exp{
    display: flex;
    flex-wrap: wrap;
    
}
#features .left-part .exp i{
    font-size: 15px;
    color: #0463fa;
    border: 1px solid white;
    height: 9vh;
    width: 4vw;
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 6vh;
    background-color: white;
}
#features .left-part .exp .doc{
   color: white;
   padding-top: 6vh;
   position: relative;
   left: 1vw;
   font-family: Arial, Helvetica, sans-serif;

}
#features .left-part .exp .doc h3{
    margin-top: 1vh;
}
#features .left-part .quality{
    display: flex;
    justify-content: end;
    position: relative;
    right: 120px;
    bottom: 100px;
    /* left: 200px; */
    
}
#features .left-part .quality i{
    font-size: 15px;
    color: #0463fa;
    border: 1px solid white;
    height: 9vh;
    width: 4vw;
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 6vh;
    background-color: white;
}
#features .left-part .quality .rhs{
   color: white;
   padding-top: 6vh ;
   position: relative;
   left: 1vw;
   font-family: Arial, Helvetica, sans-serif;

}
#features .left-part .quality .rhs h3{
    margin-top: 1vh;
}
#features .left-part .positive{
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    position: relative;
    bottom: 14vh;
    /* top:90px; */
    /* right: 485px; */
}
#features .left-part .positive i{
    font-size: 15px;
    color: #0463fa;
    border: 1px solid white;
    height: 9vh;
    width: 4vw;
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    background-color: white;
}
#features .left-part .positive .down{
   color: white;
   padding-top: 6vh ;
   position: relative;
   left: 1vw;
   font-family: Arial, Helvetica, sans-serif;

}
#features .left-part .positive .down h3{
    margin-top: 1vh;
}
/* end================ */
#features .left-part .support{
    display: flex;
    justify-content: end;
    position: relative;
    bottom: 200px;
    /* left: 170px; */
    right: 8vw;
    
}
#features .left-part .support i{
    font-size: 15px;
    color: #0463fa;
    border: 1px solid white;
    height: 9vh;
    width: 4vw;
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 3vw;
    background-color: white;
}
#features .left-part .support .hours{
   color: white;
   padding-top:3vw ;
   position: relative;
   left: 1vw ;
   font-family: Arial, Helvetica, sans-serif;

}
#features .left-part .support .hours h3{
    margin-top: 1vh;
}
/* ===================================features ends here================================= */

/* ==============================doctors section starts from here=========================== */
#doctors{
    width: 100%;
    height: auto;   
}
#doctors .exp-doctors .button-doc{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 8vh;
}
#doctors .exp-doctors .docts{
    width: 8vw;
    height: 5vh;
    border-radius: 18px;
    border: 1px solid rgb(195, 195, 248);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: rgba(141, 138, 138, 0.807);
    background-color: white;
}
#doctors .exp-doctors .para{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
#doctors .exp-doctors .image{
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    gap: 2vw;
    margin-top: 5vh;
}
#doctors .exp-doctors .image .our-doctors {
    position: relative;
    overflow: hidden;
    width: 20vw;
    transition: padding bottom 0.3 ease-out;
}
#doctors .exp-doctors .image .our-doctors img{
    height: 50vh;
    width: auto;
    border: 1px solid #eef5ff;
    display: block;
    transition: bottom-border-width 0.3s ;
    border-bottom: 2px solid #eef5ff;
    border-bottom-width: 100px;
}
#doctors .exp-doctors .image .our-doctors .font{
    position: absolute;
    /* bottom: 100px; */
    top: 52vh;
    left: 0;
    right: 0;
    text-align: center;
    font-weight: bold;
    font-size: 23px;
    color: #333;
    font-family: "Funnel Sans", sans-serif;
}
#doctors .exp-doctors .image .our-doctors .dept{
    position: absolute;
    /* bottom: 70px; */
    top: 57vh;
    left: 0;
    right: 0;
    text-align: center;
    /* font-weight: bold; */
    font-size: 20px;
    color: #0463fa;
}
#doctors .exp-doctors .image .our-doctors .team-social{
    position: absolute;
    bottom: 1vh;
    left: 0;
    right: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 5px; 
    display: none;
    /* transition: opacity 0.5s ease; */
}
#doctors .exp-doctors .image .our-doctors .team-social .btn-square i{
    font-size: 20px;
    border: 1px solid white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: white;
    align-items: center;
    display: grid; 
    flex-wrap: wrap;
    color: #0463fa; 
}
#doctors .exp-doctors .image .our-doctors .team-social .btn-square{
    text-decoration: none;
}
.our-doctors:hover img{
    border-bottom-width: 150px;
    border-bottom-color: #eef5ff;
}
#doctors .exp-doctors .image .our-doctors .team-social .btn-square i:hover{
    background-color: #0463fa;
    color: white;
}
/* ==========================doctors ends here============================= */

/* ============================appointment starts from here====================== */
#appointment{
    width: 100%;
    height: auto;
    margin-top: 8vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.appoint-info{
    height: 100%;
    /* width: 50% ; */
    margin: 12vh;
    /* margin-right: 00px; */
    /* margin-left: px; */
}
 #appointment .main-appoint ,.appoint-info .appoint-button{
    display: flex;
    flex-wrap: wrap;
}
#appointment .main-appoint .appoint-info .appoint-button button{
    width: 8vw;
    height: 5vh;
    border-radius: 18px;
    border: 1px solid rgb(195, 195, 248);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: rgba(141, 138, 138, 0.807);
    background-color: white;
} 
.main-appoint{
    display: flex;
    justify-content: space-between;
}
.appoint h1{
    font-size: 40px;
    font-family: "Funnel Sans", sans-serif;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.appoint p{
    font-size: 19px;
    line-height: 4vh;
    margin-bottom: 5vh;
    color: #9c9a9a;
}
.call{
    width: 36vw;
    height: 22vh;
    /* border: 1px solid #c1dafe; */
    border-radius: 10px;
    background-color: #eef5ff;
    font-family: "Funnel Sans", sans-serif;
    align-items: center;
    display: flex;
    padding-left: 40px;
    gap: 20px;
}
.call i{
    width: 4vw;
    height: 8vh;
    /* border: 1px solid blue; */
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0463fa;
    font-size: 16px;
}
.call div h1{
    padding-top: 1vh;
}
.call div p{
    color: #787777;
}
.mail{
    width: 36vw;
    height: 22vh;
    /* border: 1px solid #c1dafe; */
    border-radius: 10px;
    background-color: #eef5ff;
    font-family: "Funnel Sans", sans-serif;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding-left: 3vw;
    gap: 1vh;
    margin-top: 1vh;
}
.mail i{
    width: 60px;
    height: 60px;
    /* border: 1px solid blue; */
    background-color: white;
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: #0463fa;
    font-size: 16px;
}
.mail div h1{
    padding-top: 10px;
}
.mail div p{
    color: #787777;
}
/* #appoint-form{
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: 100%; 
}
    */
.contact-box{
    width: 500px;
    height: 625px;
    /* border: 1px solid blue; */
    background-color: #eef5ff;
    margin-top: 100px;
    margin-right: 150px;
    border-radius: 10px;
}

.message{
    width: 200px;
    height: 60px;
    /* padding: 5px; */
    margin: 8px;
    border: none;
    border-radius: 10px;
    gap: 40px;
    color: #a8a6a6;
}
.form{
    padding: 30px;
    padding-top: 50px;
    border: none;
}
.textarea{
    width: 427px;
    height: 150px;
    /* padding-top: 50px; */
    margin-top: 20px;
    font-family: "Funnel Sans", sans-serif;
    font-size: 16px;
    border: none;
}
.form p{
    padding-top: 10px ;
    padding-bottom: 10px;
    font-size: 16px;
    padding-left: 14px;
    font-family: "Funnel Sans", sans-serif;
}
.book{
    width: 427px;
    height: 55px;
    font-size: 16px;
    background-color: #0463fa;
    color: white;
    /* padding-top: 20px; */
    margin-top: 18px;
    border: none;
    border-radius: 10px;
}
/* ========================================appointment ends here================================= */

/* ======================================testimonial starts here=========================================== */
#testimonial{
    width: 100%;
    height: auto;
    margin-top: 100px;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
}
.testi .test-button{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
}
.test-button button{
    width: 130px;
    height: 38px;
    border-radius: 18px;
    font-size: 16px;
    color: #9b9a9a;
    background-color: white;
    border: 1px solid rgb(188, 188, 242);
}
.patients h1{
    margin-top: 20px;
    font-size: 40px;
    font-family: "Funnel Sans", sans-serif;
    position: relative;
    left: 70px;
}
.pat-circle{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    margin-top: 40px;
}
.pat-circle img{
    width: 80px;
    height: 80px;
    border: 8px solid blue;
    border-radius: 50%;
}
.opinion{
    width: 550px;
    height: 195px;
    /* border: 1px solid blue; */
    border-radius: 12px;
    background-color: #0463fa;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
    position: relative;
    margin-top: 20px;
}
.pat-info{
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    color: white;
}
.op{
 padding-left: 12px;
 line-height: 20px;
 font-size: 17px;
 font-family: "Funnel Sans", sans-serif;
 color: white;
}
.op p {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
}
.pat-info p{
    font-size: 18px;
}
.foot{
    width: 100% !important;
    height: 400px;
    /* border: 1px solid black; */
    background-color: #1b2c51;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* padding-left: 30px; */
    /* padding-right: 20px; */
}
.add{
    display:flex ;
    flex-wrap: wrap;
    color: white;
    position: relative;
    left: 6px;
}
.address-info div h2{
    color: white;
    padding-bottom: 20px;
    font-family: "Funnel Sans", sans-serif;
    position: relative;
    left: 0;
    font-size: 20px;

}
.social-link{
    color: white;
}
.ser-links{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.quick-links{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.sign-in{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.address-info{
    position: relative;
    left: 90px;
    top: 70px;
    gap: 50px;
    line-height: 30px;
}
.address-info .add i{
    position: relative;
    right: 10px;
    top: 8px;
}
.address-info .add p{
    font-size: 16px;
    font-family: "Funnel Sans", sans-serif;
    word-spacing: 8px;
}
.social-link i{
    border: 1px solid white;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 20px; */
    margin-top: 20px;
}
.social-link i:hover{
    transition: all 0.2s ease-out;
    background-color: white;
    color: #0463fa;
}
.ser-info div h2{
    color: white;
    padding-bottom: 20px;
    font-family: "Funnel Sans", sans-serif;
    position: relative;
    left: 0;
    font-size: 20px;
}
.ser-info{
    position: relative;
    /* left: 20px; */
    top: 70px;
    gap: 50px;
    line-height: 30px; 
    right: 40px; 
}
.ser-info a{
    font-size: 16px;
    font-family: "Funnel Sans", sans-serif;
    word-spacing: 8px;
    text-decoration: none;
    color: white;
}
.ser-info a:hover{
    color: #0463fa;
    word-spacing: 10px;
}
.quick div h2{
    color: white;
    padding-bottom: 20px;
    font-family: "Funnel Sans", sans-serif;
    position: relative;
    left: 0;
    font-size: 20px;
}
.quick{
    position: relative;
    /* left: 20px; */
    top: 70px;
    gap: 50px;
    line-height: 30px; 
    right: 140px; 
}
.quick a{
    font-size: 16px;
    font-family: "Funnel Sans", sans-serif;
    word-spacing: 8px;
    text-decoration: none;
    color: white;
}
.quick a:hover{
    color: #0463fa;
    word-spacing: 10px;
}
.news h2{
    color: white;
    padding-bottom: 20px;
    font-family: "Funnel Sans", sans-serif;
    position: relative;
    left: 0;
    font-size: 20px;
}
.news p{
    color: white;
    font-size: 16px;
    font-family: "Funnel Sans", sans-serif;
    line-height: 25px;
}
.news{
    position: relative;
    /* left: 130px; */
    top: 70px;
    gap: 50px;
    line-height: 30px; 
    right: 250px; 
}
.mailbox{
    height: 60px;
    width: 210px;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
    padding-left:15px;

}
.sign-up{
    width: 80px;
    height: 43px;
    position: absolute;
    top: 127px;
    right: 5px;
    border-radius: 10px;
    background-color: #0463fa;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    color: white;
    border: none;
}
.last{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    margin-top: 20px;
    color: white;
    margin-bottom: 5px;
    position: relative;
    bottom: -5px;
    /* border-top: 0.1px solid rgb(172, 163, 163); */
    /* width: 80%; */
}
.copyright{
    color: white;
    display: flex;
    flex-direction: row;
    font-family: "Funnel Sans", sans-serif;
    margin-left: 70px;
}
.copyright  .site{
    color: white;
    word-spacing: 5px;
}
.copyright i{
    font-size: 10px;
    position: relative;
    bottom: 2px;
}
.design{
    color: white;
    margin-right: 70px;
    font-family: "Funnel Sans", sans-serif;
}
.design a{
    color: white;
}
/* =======================footer ends here=========================== */

/* ======mobile css starts from here================ */
@media(max-width:450px){
    
}


