*{
    margin: 0px;
    padding: 0px;
}
/* navbar begins from here */

#navbar nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    height: 75px;

}
#navbar img{
    width: 150px;
    height: 50px;
    border-radius: 50%;
}
#navbar nav ul{
    display: flex;
    gap: 50px;
    list-style: none;
    padding-top: 25px;
}
#navbar nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.nav-links{
    display: flex;
    gap: 30px;
}
.nav-links button{
    background-color: rgb(39, 39, 246);
    width: 200px;
    height: 75px;
    font-size: 16px;
    color: white;
    border: none;   
}

/* navbar ends here  */

/* home page start from here */
#Homepage{
    width: 100%;
    height: 100vh;
    background-color: white ;
}
#Homepage .box{
    border: 1px solid blue;
    width: 50%;
    height: 100% ;
    background-color: rgb(34, 34, 255);
    display: flex;
    justify-content: center;
    text-align: center;
}
.box h1{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

